<br>
<div class="container">
    <div class="row clearfix">
    	<div class="col-md-12 table-responsive">
			<table class="table table-bordered table-hover table-sortable" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center" style="width: 200px;">
                            hqck
						</th>
						<th class="text-center">
							av
						</th>
					
					</tr>
				</thead>
				<tbody>
    				<tr class="hidden">
						<td data-name="name">
                            <div class="card" >      
                                <h1>tite</h1>
                                <p class="price">ville</p>
                                <p>a.description</p>
                               
                              </div>
                     
						</td>
						<td >
                            <br><br>
                            <div class="progress">
								<div class="one primary-color"></div><div class="two primary-color"></div><div class="three no-color"></div>
									  <div id="my_id" class="progress-bar" ></div>
								</div>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

